<mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Labrador</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt="Photo of a Labrador">
    <mat-card-content>
      <p>
        The Labrador Retriever, or just Labrador, is a type of retriever-gun dog.
        The Labrador is one of the most popular breeds of dog in Canada, the United Kingdom and the United States.
        A favourite disability assistance breed in many countries, Labradors are frequently trained to aid the blind,
        those who have autism, to act as a therapy dog or to perform screening and detection work for law enforcement
        and other official agencies. They are prized as sporting and hunting dogs.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bigle</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cbschicago.files.wordpress.com/2015/05/kale-chips.jpg?w=570&h=360&crop=1" alt="Photo of a Bigle">
    <mat-card-content>
      <p>
        The Beagle is a breed of small hound that is similar in appearance to the much larger foxhound.
        The beagle is a scent hound, developed primarily for hunting hare. With a great sense of smell and superior tracking instinct,
        the beagle is employed as detection dog for prohibited agricultural imports and foodstuffs in quarantine around the world.
        The beagle is intelligent but single-minded. It is a popular pet due to its size, good temper, and lack of inherited health problems.
        Although beagle-type dogs have existed for 2,500 years, the modern breed was developed in Great Britain around the 1830s from several breeds,
        including the Talbot Hound, the North Country Beagle, the Southern Hound, and possibly the Harrier.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</mat-card>
